.App {
  text-align: center;
}

.Light {
  transition: all 250ms;
  height: 50vmin;
  width: 50vmin;
  border-radius: 40%;
  pointer-events: none;
}

.Light.on {
  background-color: yellowgreen;
}

.Light.off {
  background-color: transparent;
}

.Light-label {
  cursor: pointer;
  margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .Light {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
